**1. Функція з параметром**

Створіть функцію `show_menu()`, яка приймає перелік страв, наприклад ['Піца', 'Паста', 'Салат'] і виводить меню ресторану в наступному вигляді:
```
=== МЕНЮ ===
1. Піца
2. Паста
3. Салат
=============
```

Викличте цю функцію на списку ["Суп грибний", "Котлета по-київськи", "Лимонад"].

In [18]:
def show_menu(dish):
    print("=== МЕНЮ ===")
    for i in range(len(dish)):
        print(f"{i+1}. {dish[i]}")
    print("=============")

menu = ["Суп грибний", "Котлета по-київськи", "Лимонад"]
show_menu(menu)

=== МЕНЮ ===
1. Суп грибний
2. Котлета по-київськи
3. Лимонад
=============


---

**2. Функція з параметром**

Створіть функцію `print_square(n)`, яка виводить квадрат числа.

Наприклад: `print_square(5)` → "Квадрат числа 5 = 25"

Викличте її з різними числами.

In [ ]:
def print_square(n):
    result = n*n
    print(f"Квадрат числа {n} = {result}")

print_square(5)
print_square(7)
print_square(11)

Квадрат числа 5 = 25
Квадрат числа 7 = 49
Квадрат числа 11 = 121


---

**3. Функція з поверненням значення**

Створіть функцію `multiply(a, b)`, яка повертає добуток двох чисел.

Викличте функцію на власноруч заданих значеннях та виведіть результат.

In [10]:
def multiply(a, b):
    return a * b 

print(f"Result: {multiply(2, 4)}")

Result: 8


---

**4. Функція пошуку максимумального значення**

Створіть функцію `find_max(numbers)`, яка:
- Приймає список чисел
- Повертає найбільше число в списку

Протестуйте на списку `[15, 42, 8, 23, 56, 19]`.

In [21]:
def find_max(numbers):
    return max(numbers)

num_list = [15, 42, 8, 23, 56, 19]
print(find_max(num_list))

56


---

**5. Функція з умовами**

Створіть функцію `check_grade(grade)`, яка:
- Приймає оцінку (число)
- Повертає "Здав" якщо grade >= 60
- Повертає "Не здав" якщо grade < 60

Протестуйте на різних оцінках.

In [ ]:
def check_grade(grade):
    return "Здав" if grade >= 60 else "Не здав"

print(check_grade(50))
print(check_grade(90))

Не здав
Здав